{% extends 'vote/base.html' %} {% load static %} {% block content %}

<div class="vote-detail-container">
  <p>조회 수: {{ poll.views_count }}</p>
  <div class="vote-introduction">
    {% include 'vote/detail/detail-introduction-card.html' %}
  </div>
  <div class="option-container">
    <div>
      <form action="{% url 'vote:calcstat' poll.id %}" method="POST">
        {% csrf_token %} {% for choice in poll.choice_set.all %}
        <div
          class="detail-option"
          style="background-image: url(../../{{choice.image}});"
        >
          <input
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
          />
          <label for="choice{{ forloop.counter }}"
            >{{ choice.choice_text }}</label
          >
        </div>
        <strong class="vs-font"><span>V</span><span>S</span></strong>
        {% endfor %}
      </form>
    </div>
  </div>
  <input type="submit" value="투표하기" class="vote-submit-btn" />
  <a href="{% url 'vote:list' %}" role="button">뒤로가기</a>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/detail.js' %}"></script>
  {% endblock %}
</div>
