{% extends 'vote/base.html' %} {% load static %} {% block content %}
<section class="main-container">
  {% if user.is_authenticated %}
  안녕하세요, {{user.nickname}} 님!
  {% endif %}
  <div class="carousel-container">
    {% include 'vote/main/main-carousel.html' %}
  </div>
  <div class="editor-pick-container">
    {% comment %} start social {% endcomment %}
{% load socialaccount %}
<div>
    {% if user.is_authenticated %}
        <a href="/accounts/logout" type="button" class="h1">Logout</a>   
    {% else %}                
        <a href="{% provider_login_url 'kakao'%}"> Kakao Social Login</a>        
    {% endif %}
</div>
{% comment %} end social {% endcomment %}
    {% include 'vote/main/main-editor-pick.html' %}
  </div>
  <div class="vote-list-container">{% include 'vote/main/main-grid.html'%}</div>
</section>

{% endblock %}
