{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

nickname: {{user.nickname}}
<br>
id: {{user.username}}
<br>
MBTI: {{user.mbti}}
<br>
성별: {{user.gender}}
<br>

<a href="{% url 'vote:update' %}">회원 수정</a>

<h5>나의 vote list</h5>
<ul>
{% for poll in polls %}
<li>
   {{ poll.text }}
</li>
{% endfor %}
</ul>
{% endblock %}


{% comment %} {% if request.user == user %} {% endcomment %}

    {% comment %} <form action="{% url 'account:delete' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary">회원 탈퇴</button> {% endcomment %}