{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

<div class="mypage-update-container">
    <form action="{% url 'vote:update' %}" method="POST" class="mypage-update-form">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
  <div class="modify-btns">
    {% if request.user == user %}
    <a href="{% url 'account:change_password' %}" class="change">비밀번호 변경</a>
    <a id="mypage-user-delete" href="{% url 'account:delete' %}">회원 탈퇴</a>
    {% endif %}
  </div>
{% endblock %} 