{% load static %} {% block content %}
<div id="editor-pick">
  <div class="editor-pick-title">오늘의 볼거리 👀</div>
  <div class="editor-card-section">
    {% if random_poll.id %}
    <a href="{% url 'vote:detail' random_poll.id %}">
    {% endif %}      
    <div class="today-topic">📊오늘의 투표</div>
      <div class="editor-card">
        <div class="card-img">
          <img src="../../../media/{{random_poll.thumbnail}}" />
        </div>

        <div class="card-content">
          <div class="card-content-title">{{random_poll.title}}</div>
          <div class="card-content-paragraph">{{random_poll.content}}</div>
        </div>
      </div>
    </a>
    <div class="fortune-card-section">
      <a href="{% url 'vote:fortune' %}">
      <div class="today-fortune">🥠포춘 쿠키</div>
      <div class="editor-card">
        <div class="card-img">
          <img src="{% static 'img/slide/fortune.jpg' %}" />
        </div>
        <div class="card-content">
          <div class="card-content-title">Daily 포춘 쿠키!</div>
          <div class="card-content-paragraph">오늘의 운세를 확인해보세요!</div>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
{% endblock %}
