#base-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: var(--blue-bg-color);
}

nav {
  position: sticky;
  width: 500px;
  background-color: var(--purple-bg-color);
}

.nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.login-word {
  border: none;
  text-decoration: none;
  padding-left: 5px;
  font-weight: bolder;
  color: var(--darkblue-primary-color);
}

.login-word:hover {
  color: var(--redpink-primary-color);
}

.nav-list a:hover {
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-list img:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-login-btn {
  margin-right: auto;
}

.nav-login-btn img {
  margin-left: 10px;
}

.nav-ham-btn {
  margin-left: auto;
}

.nav-ham-btn img {
  margin-right: 20px;
}

.base-block-container {
  display: flex;
  flex-direction: column;
}

#sidebar {
  font-family: "GongGothicMedium";
  position: fixed;
  top: 0;
  right: -350px;
  width: 360px;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease-in-out;
  max-width: 500px;
  background-color: white;
}

#sidebar.show {
  right: calc(50% - 250px);
}

#hide-sidebar-icon {
  padding-top: 20px;
  color: var(--darkblue-primary-color);
}

#hide-sidebar-icon img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#hide-sidebar-icon img {
  margin-top: 20px;
  margin-left: 20px;
}

.ham-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "GongGothicMedium";
}

.ham-user-name {
  margin: 10px auto;
}

.ham-logged-user-name {
  font-weight: bold;
}

.ham-user-nim {
  color: gray;
}

.ham-navigator {
  margin: 15px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-top: solid #bdbdbd 1px;
}

.ham-navigator li {
  width: 100vw;
  padding-bottom: 5px;
  margin-top: 20px;
  text-align: left;
  font-family: "GongGothicMedium";
  font-size: 18px;
  font-weight: light;
  color: var(--darkblue-primary-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ham-navigator li a {
  text-decoration: none;
  color: var(--darkblue-primary-color);
}

.ham-navigator li span img {
  margin-right: 30px;
  vertical-align: middle;
}

.ham-navigator li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--darkblue-primary-color);
  transition: width 0.3s ease-in-out;
}

.ham-navigator li:hover::before {
  margin-top: 3px;
  width: 250px;
}
/* .ham-navigator li span {
  font-family: "TheJamsil5Bold";
} */

.ham-footer {
  border-top: solid #bdbdbd 1px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  text-align: center;
  color: var(--darkblue-primary-color);
}
