.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-greeting {
  margin-top: 20px;
}
/* carousel */
.main-carousel-title {
  margin: 5px auto;
  font-family: "GongGothicMedium";
  font-size: 24px;
}

/* 기본 스타일 */
.user-nickname {
  display: inline-block;
  margin-left: 5px;
  font-family: "GongGothicMedium";
  color: var(--darkblue-primary-color);
  animation: bounce 1s 3 alternate; /* bounce 애니메이션 적용 */
}

/* bounce 애니메이션 정의 */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.carousel-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 500px;
  margin: 0 auto;
}

.vote-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 900px;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 380px;
  height: 220px;
  overflow: hidden;
}

.carousel-image-container:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.carousel-poll-title {
  color: var(--blue-bg-color);
  font-family: "GongGothicMedium";
}

.carousel-poll-content {
  color: var(--blue-bg-color);
}
/*editor-pick*/
.editor-pick-container {
  height: 500px;
}

#editor-pick {
  display: flex;
  flex-direction: column;
}

.editor-pick-title {
  margin: 10px auto;
  font-family: "GongGothicMedium";
  font-size: 24px;
}

.editor-card-section {
  margin: 2px auto;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.editor-card-section a {
  text-decoration: none;
  color: black;
}

.editor-card {
  width: 13rem;
  height: 400px; /* 이 부분 필요하면 더 줄이기 */
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
  height: auto;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.card-content-title {
  font-family: "GongGothicMedium";
  font-size: 20px;
}

.card-content-paragraph {
  margin-top: 5px;
  justify-content: center;
  font-size: 12px;
}

/* main-grid */

.main-list-title {
  margin: 5px auto;
  font-family: "GongGothicMedium";
  font-size: 24px;
}

.main-grid-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.option_select {
  margin-left: 20px;
}

.main-grid-container select {
  width: 100px;
  height: 40px;
  margin: 20px 30px auto 25px;
  padding-left: 15px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: var(--darkblue-primary-color);
}

.main-grid-content {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.main-grid-square {
  position: relative;
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-square-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-square-like-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}

.pagination-box {
  display: flex;
}

.pagination {
  margin: 2px auto;
}

.page-btn {
  text-decoration: none;
  font-size: 20px;
  font-family: "GongGothicMedium";
  margin: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  color: black;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.red-pink {
  background-color: var(--redpink-primary-color);
  color: white;
}

.gray {
  background-color: gray;
}

.page-btn:hover {
  cursor: pointer;
  background-color: var(--darkblue-primary-color);
  color: white;
}

.today-topic,
.today-fortune {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "GongGothicMedium";
  color: var(--darkblue-primary-color);
}

/* main-fortune */

.fortune-title {
  font-weight: 800;
  font-size: 18px;
  margin-top: 100px;
}
.fortune-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  position: relative;
}

#fortune-modal-open {
  border: none;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.fortune-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  z-index: 10;
  display: none;
  position: absolute;
  top: 130px;
}

.modal-logo {
  width: 100px;
  height: auto;
}

.fortune-img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fortune-open-img {
  margin-left: 20px;
  margin-bottom: 50px;
}


.fortune-text {
  position: absolute;
  top: 180px;
  right: 0px;
  background-color: white;
  width: 225px;
  height: 65px;
  z-index: 10;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  padding: 10px;
  font-size: 13px;
  font-weight: 800;
}

.fortune-modal-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: 50px;
}

.modal-close-icon {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#capBtn {
  width: 150px;
  height: 40px;
}