.mypage-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.mypage-prof-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mypage-prof-container img {
    margin-right: 30px;
    margin-left: 20px;
}

.mypage-info-wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.mypage-nickname-wrap {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin-left: 10px;
    align-items: center;
}

.mypage-revise-btn {
    width: 100px;
    height: 30px;
    background-color: #FF495A;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 10px;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.mypage-revise-btn:visited {
    color: white;
    text-decoration: none;
}

.mypage-blue{
    color: #282732;
    font-weight: 800;
}

#mypage-gray {
    color: #C4C4C4;
    font-weight: 800;
}

.mypage-red {
    color: #FF495A;
    font-weight: 800;
}
.mypage-hr {
    width: 200px;
    margin-left: 10px;
}

.mypage-prof-detail {
    display: flex;
    flex-direction: row;
}

.mypage-update-container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .mypage-update-form {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control{
    display: inline-block;
    width: 200px;
} */