.result-container {
  max-width: 500px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--pink-bg-color);
}

.result-title {
  font-family: "GongGothicMedium";
  font-size: 34px;
  margin: 10px auto;
}

.graph-information {
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgb(212, 212, 212);
}

.graph-category-container {
  display: flex;
  flex-direction: column;
}

/* .comment-container {
  height: 50vh;
  background-color: pink;
} */

.result-graph-content {
  display: flex;
  justify-content: center;
}
/* 차트 정보 섹션 */
.graph-information-box {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.darkblue-circle {
  background-color: var(--darkblue-primary-color);
}

.redpink-circle {
  background-color: var(--redpink-primary-color);
}

.choice-percentage-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  width: 200px;
}

/* 차트 섹션 */
.result-chart-container {
  display: flex;
  justify-content: center;
}

.result-total-count {
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: var(--darkblue-primary-color);
}

.result-total-count strong {
  margin-left: 5px;
  color: var(--redpink-primary-color);
}

.result-share-btn {
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 10px;
}

.result-share-btn:hover {
  background-color: var(--redpink-primary-color);
  color: white;
}
.result-share-btn img {
  margin-left: 10px;
}

/*카테고리 차트 섹션*/
.result-chart-category {
  /* height: 500px; */
}

.result-category-title {
  font-family: "GongGothicMedium";
  color: var(--turquois-secondary-color);
  font-size: 26px;
  margin: 50px 50px 20px 50px;
}

.result-category-name {
  font-family: "GongGothicMedium";
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
}

.gender-result,
.mbti-result {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.result-man-chart,
.result-woman-chart {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-choice-title {
  font-family: "TheJamsil5Bold";
}

.result-EI-chart {
  display: block;
  width: 500px;
}
