.result-container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--pink-bg-color);
}

.result-title {
  font-family: "GongGothicMedium";
  font-size: 34px;
  margin: 10px auto;
}

.graph-information {
  height: 20vh;
  background-color: gray;
}

.graph-container {
  height: 50vh;
  background-color: turquoise;
}

.graph-category-container {
  height: 20vh;
}

.comment-container {
  height: 50vh;
  background-color: pink;
}
