.result-container {
  max-width: 500px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--pink-bg-color);
}

.result-title {
  font-family: "GongGothicMedium";
  font-size: 34px;
  margin: 10px auto;
}

.graph-information {
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgb(212, 212, 212);
}

.graph-category-container {
  display: flex;
  flex-direction: column;
}

.comment-container {
  height: 50vh;
  background-color: pink;
}

.result-graph-content {
  display: flex;
  justify-content: center;
}
/* 차트 정보 섹션 */
.graph-information-box {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.darkblue-circle {
  background-color: var(--darkblue-primary-color);
}

.redpink-circle {
  background-color: var(--redpink-primary-color);
}

.choice-percentage-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  width: 200px;
}

/* 차트 섹션 */
.result-chart-container {
  display: flex;
  justify-content: center;
}

.result-total-count {
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: var(--darkblue-primary-color);
}

.result-total-count strong {
  margin-left: 5px;
  color: var(--redpink-primary-color);
}
